<custom-options class="section-block custom-options custom-options--{{ block.id }} product-form__input" style="--spacing: {{ block.settings.top_spacing }}; --mobile-spacing: {{ block.settings.mobile_top_spacing }};" data-type="image-upload" {{ block.shopify_attributes }}>
    {% liquid 
      assign product_form_id = 'product-form-' | append: section.id
      assign option_label =  block.settings.option_label
      if block.settings.option_label != blank and block.settings.make_required
        assign option_label =  block.settings.option_label  | append: '*'
      endif
    %}
    {% style %}
        .tooltip__icon svg {
            width: {{ 20 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
            height: {{ 20 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
        }
        .icon-upload svg {
            height: {{ 24 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 24 }}px;
            width: {{ 24 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 24 }}px;
        }
        @media screen and (max-width: 920px) {
            .tooltip__icon svg {
                width: {{ 20 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
                height: {{ 20 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
            }
            .icon-upload svg {
                height: {{ 24 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 24 }}px;
                width: {{ 24 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 24 }}px;
            }
        }
    {% endstyle %}
    {% if block.settings.option_label != blank %}
        <label class="form__label label--{{ settings.typography_preset }}" for="{{ block.id }}-{{ block.settings.option_name }}">
            <tooltip-component class="tooltip form__label-name">
                <span class="{% if block.settings.label_size != 'default' %}{{ block.settings.label_size }}{% else %}{% if settings.typography_preset == 'custom' %}{% if settings.uppercase_body_s %} uppercase{% endif %}{% if settings.bolder_font_body_s %} bolder-font{% endif %}{% endif %}{% endif %} {% if settings.dim_text %}dim{% endif %}">{{ option_label }}</span>
                {% if block.settings.info_tooltip != blank %}
                    <span class="tooltip__icon{% if settings.dim_text %} tooltip__icon--dim{% endif %}">
                        {% if weight_accordion_title == 'regular' %}
                            {% render 'icon-accordion', icon: 'help-regular' %}
                        {% elsif weight_accordion_title == 'medium' %}
                            {% render 'icon-accordion', icon: 'help-medium' %}
                        {% elsif weight_accordion_title == 'bold' %}
                            {% render 'icon-accordion', icon: 'help-bold' %}
                        {% endif %}
                        <span class="tooltip__text color__swatch-tooltip--{{ settings.typography_preset }}">{{ block.settings.info_tooltip }}</span>
                    </span>
                {% endif %}
            </tooltip-component>
        </label>
    {% endif %}
    <div class="form__variants drop-zone-wrap input--{{ settings.typography_preset }} {% if block.settings.text_size != 'default' %}{{ block.settings.text_size }}{% else %}{% if settings.typography_preset == 'custom' %}{% if settings.uppercase_body_s %} uppercase{% endif %}{% if settings.bolder_font_body_s %} bolder-font{% endif %}{% endif %}{% endif %} flex--column">
        <div class="drop-zone" id="{{ block.id }}-to-upload">
            <div class="drop-zone__container flex--column">
                <span class="icon-upload">
                    {% if weight_accordion_title == 'regular' %}
                        {% render 'icon-accordion-2', icon: 'upload-regular' %}
                    {% elsif weight_accordion_title == 'medium' %}
                            {% render 'icon-accordion-2', icon: 'upload-medium' %}
                    {% elsif weight_accordion_title == 'bold' %}
                            {% render 'icon-accordion-2', icon: 'upload-bold' %}
                    {% endif %}
                </span>
                <span class="drop-zone__text input--{{ settings.typography_preset }}">{{ 'products.product.drop_zone_text' | t }}</span>
                <span class="drop-zone__text  drop-zone__text--secondary input--{{ settings.typography_preset }}">{{ 'products.product.drop_zone_size' | t }}</span>
                <input type="file" id="{{ block.id }}-{{ block.settings.option_name }}" name="properties[{{ block.settings.option_name }}]" form="{{ product_form_id }}"
                    value="" class="drop-zone__input" 
                {% if block.settings.make_required %}required="required" aria-required="true"{% endif %}>
            </div>
        </div>
        <span class="input-error-message visually-hidden input--{{ settings.typography_preset }} label_font">{{ 'products.product.error_message_required' | t }}</span>
    </div>
    <div class="file-upload-icons visually-hidden">
        <span class="icon-upload icon--video">
            {% if weight_accordion_title == 'regular' %}
                {% render 'icon-accordion-2', icon: 'video-file-regular' %}
            {% elsif weight_accordion_title == 'medium' %}
                    {% render 'icon-accordion-2', icon: 'video-file-medium' %}
            {% elsif weight_accordion_title == 'bold' %}
                    {% render 'icon-accordion-2', icon: 'video-file-bold' %}
            {% endif %}
        </span>
        <span class="icon-upload icon--audio">
            {% if weight_accordion_title == 'regular' %}
                {% render 'icon-accordion-2', icon: 'audio-file-regular' %}
            {% elsif weight_accordion_title == 'medium' %}
                    {% render 'icon-accordion-2', icon: 'audio-file-medium' %}
            {% elsif weight_accordion_title == 'bold' %}
                    {% render 'icon-accordion-2', icon: 'audio-file-bold' %}
            {% endif %}
        </span>
        <span class="icon-upload icon--file">
            {% if weight_accordion_title == 'regular' %}
                {% render 'icon-accordion-2', icon: 'file-regular' %}
            {% elsif weight_accordion_title == 'medium' %}
                    {% render 'icon-accordion-2', icon: 'file-medium' %}
            {% elsif weight_accordion_title == 'bold' %}
                    {% render 'icon-accordion-2', icon: 'file-bold' %}
            {% endif %}
        </span>
    </div>
    <p class="file-upload__remove visually-hidden"><span class="input--{{ settings.typography_preset }} {% if block.settings.text_size != 'default' %}{{ block.settings.text_size }}{% else %}{% if settings.typography_preset == 'custom' %}{% if settings.uppercase_body_s %} uppercase{% endif %}{% if settings.bolder_font_body_s %} bolder-font{% endif %}{% endif %}{% endif %}">{{ 'customer.addresses.delete' | t }}</span></p>
</custom-options>