{{ 'miscellaneous.css' | asset_url | stylesheet_tag }}
{{ 'search.css' | asset_url | stylesheet_tag }}
{{ 'cart.css' | asset_url | stylesheet_tag }}
{{ 'social-media.css' | asset_url | stylesheet_tag }}
{{ 'account.css' | asset_url | stylesheet_tag }}
{{ 'menu.css' | asset_url | stylesheet_tag }}
{{ 'localization.css' | asset_url | stylesheet_tag }}

<div class="miscellaneous-container {% unless mega_drawer %}miscellaneous-container--{{ section.settings.grid_columns }} miscellaneous-container--{{ miscellaneous_settings.block_width }}{% endunless %}{% if miscellaneous_settings.show_bottom_line and mega_drawer %} full-bottom-line{% endif %} {% if mega_drawer %}miscellaneous-container--menu-drawer {% if section.settings.pinned_block == 'miscellaneous' and for_loop.index0 == last_pinned_block_index %} pinned-block{% endif %}{% endif %} {% if section.id contains 'header' %}miscellaneous-container--header{% elsif section.id contains 'footer' %}miscellaneous-container--footer{% else %}miscellaneous-container--{{ section.id }}{% endif %} miscellaneous-container--{{ miscellaneous_settings.miscellaneous_horizontal_alignment }}" 
    style="--miscellaneous-vertical-alignment: {{ miscellaneous_settings.miscellaneous_vertical_alignment }}; {% if mega_drawer %} --spacing: {{ miscellaneous_settings.top_spacing }}; --mobile-spacing: {{ miscellaneous_settings.mobile_top_spacing }};{% endif %}
--miscellaneous-horizontal-alignment: {{ miscellaneous_settings.miscellaneous_horizontal_alignment }};
--miscellaneous-view: {{ miscellaneous_settings.miscellaneous_style }}; --item-index: {{ for_loop.index }}" {{ block.shopify_attributes }}>
    <div class="miscellaneous__items {% if mega_drawer %}miscellaneous__items--row{% else %}miscellaneous__items--{{ miscellaneous_settings.miscellaneous_style }}{% endif %}  miscellaneous__items--{% if miscellaneous_settings.miscellaneous_vertical_alignment == 'space-between' or miscellaneous_settings.miscellaneous_horizontal_alignment == 'space-between' %}stretched{% endif %} {%- if miscellaneous_settings.miscellaneous_reverse_order -%}miscellaneous__items--reverse{%- endif -%}">
        {% if miscellaneous_settings.menu != blank %}
            {%- render 'menu', menu_settings: miscellaneous_settings, menu_settings_id: miscellaneous_settings.menu, block: block, blocks: section.blocks, menu_id: menu_id, menu_in_header: menu_in_header -%}
        {% endif %}
        {% if miscellaneous_settings.enable_store_selector and section.id == 'header' or section.id == 'secondary-header' or section.id == 'main-sidebar' %}
            {%- render 'store-selector', store_selector_settings: miscellaneous_settings -%}
        {% endif %}
        {% unless parent == 'mobile_header' %}
            {% if miscellaneous_settings.enable_country or miscellaneous_settings.enable_language %}
                {%- render 'country-and-language', country-and-language_settings: miscellaneous_settings -%}
            {% endif %}
        {% endunless %}
        {% if miscellaneous_settings.social_media_style != 'disable' and section.id == 'header' or miscellaneous_settings.social_media_style != 'disable' and section.id == 'secondary-header' %}
            {%- render 'social-media', social-media_settings: miscellaneous_settings, section_settings: section.settings -%}
        {% endif %}
        {% assign IsNoFooter = true %}
        {% if section.id contains 'footer' %}
            {% assign IsNoFooter = false %}
        {% endif %}
        {% if miscellaneous_settings.news_style != 'disable' or miscellaneous_settings.show_burger_menu or miscellaneous_settings.search_style != 'disable' or miscellaneous_settings.account_style != 'disable' or miscellaneous_settings.cart_style != 'disable' and IsNoFooter %}
            <div class="miscellaneous__subblock miscellaneous__subblock--{% if miscellaneous_settings.miscellaneous_reverse_order %}reverse{% endif %} miscellaneous__subblock--horizontal-{{ miscellaneous_settings.miscellaneous_horizontal_alignment }} miscellaneous__subblock--vertical-{{ miscellaneous_settings.miscellaneous_vertical_alignment }}">
                {% if parent == 'mobile_header' %}
                    {% if miscellaneous_settings.enable_country or miscellaneous_settings.enable_language %}
                        {%- render 'country-and-language', country-and-language_settings: miscellaneous_settings -%}
                    {% endif %}
                {% endif %}
                {% if miscellaneous_settings.enable_store_selector and section.id == 'menu-drawer' or section.id == 'mega-menu-drawer'  %}
                    {%- render 'store-selector', store_selector_settings: miscellaneous_settings -%}
                {% endif %}
                <xb-wishlist-header class='xb-wishlist__header'>
                    <div class='xb-header__icon'>
                        <span class='svg-wrapper' style=" --icon-color: #000; --icon-size: 2rem;">
                        <?xml version="1.0" encoding="UTF-8"?>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18" height="18">
<path d="M0 0 C3.125 2.25 3.125 2.25 5 4 C7.23064047 2.92637398 9.34194877 1.7898213 11.453125 0.4921875 C19.94234287 -4.41638261 27.48107041 -5.39788477 37 -4 C46.66701486 -1.07026905 52.11208152 4.32900318 57.0859375 12.86328125 C60.26702589 19.67781463 60.19699261 28.46224835 58.30859375 35.62109375 C54.49397664 44.83044133 47.35674425 51.9385554 40.390625 58.83984375 C39.58260437 59.64740616 38.77458374 60.45496857 37.94207764 61.28700256 C36.24679858 62.97927886 34.54910827 64.66914278 32.84912109 66.35668945 C30.23862346 68.94879639 27.63635078 71.5489513 25.03515625 74.15039062 C23.38328595 75.79735 21.73095849 77.44385101 20.078125 79.08984375 C19.29794006 79.86891586 18.51775513 80.64798798 17.71392822 81.45066833 C16.99267761 82.16553909 16.271427 82.88040985 15.52832031 83.61694336 C14.89355774 84.24789413 14.25879517 84.87884491 13.60479736 85.52891541 C10.73745606 88.15734795 8.06677622 88.52194803 4.19674683 88.47174072 C1.45420687 87.88279357 0.27640934 86.85135241 -1.77294922 84.95214844 C-2.46708923 84.31434448 -3.16122925 83.67654053 -3.87640381 83.01940918 C-4.57719055 82.35300415 -5.27797729 81.68659912 -6 81 C-6.65228577 80.38354614 -7.30457153 79.76709229 -7.97662354 79.13195801 C-12.30328854 74.99160227 -16.54922657 70.76753998 -20.80029297 66.54980469 C-22.34833623 65.01834412 -23.90172858 63.49227147 -25.46044922 61.97167969 C-46.85804232 41.09267947 -46.85804232 41.09267947 -47.4375 25.5 C-47.36718924 17.06270908 -44.82004176 10.51128741 -39.359375 4.0625 C-37.65826167 2.47267446 -35.97281004 1.23351684 -34 0 C-33.36707031 -0.40992188 -32.73414063 -0.81984375 -32.08203125 -1.2421875 C-22.24604771 -6.59384834 -9.54042789 -5.43070511 0 0 Z M10 8 C9.34 8.66 8.68 9.32 8 10 C4.81227654 9.82769062 3.24651945 9.19858511 0.75 7.1875 C-5.62820843 2.11392511 -11.85311129 0.24319215 -20.00390625 0.5546875 C-27.4047491 1.6546824 -33.31260692 5.24978704 -37.81640625 11.1953125 C-42.52471143 18.37431248 -43.13146345 25.17710276 -41.51953125 33.47265625 C-39.77595665 38.91579522 -36.64130018 42.77464424 -32.7578125 46.86328125 C-32.23468475 47.42121872 -31.71155701 47.97915619 -31.1725769 48.55400085 C-29.45627858 50.37700347 -27.72980695 52.18981433 -26 54 C-25.40977051 54.61891113 -24.81954102 55.23782227 -24.21142578 55.87548828 C-20.51723442 59.73881849 -16.78985417 63.56728593 -13.03417969 67.37084961 C-11.74446271 68.68250168 -10.46106721 70.00039515 -9.18359375 71.32397461 C-7.30589511 73.26829362 -5.40948164 75.19243664 -3.5078125 77.11328125 C-2.65922165 78.00361809 -2.65922165 78.00361809 -1.79348755 78.91194153 C0.62871763 81.32173404 2.58248775 82.87681707 5.87963867 83.84960938 C10.93028774 82.47442287 13.84187072 78.9721554 17.43359375 75.29296875 C18.22975601 74.4978035 19.02591827 73.70263824 19.84620667 72.88337708 C21.53009928 71.19480283 23.20660714 69.49883688 24.8762207 67.79614258 C27.40750482 65.21804985 29.96395508 62.66723922 32.52539062 60.11914062 C34.16304213 58.47032156 35.79915881 56.81997637 37.43359375 55.16796875 C38.18797226 54.41541306 38.94235077 53.66285736 39.71958923 52.88749695 C47.2504595 45.15746717 54.0647294 36.93609583 54.3125 25.8125 C54.21438612 18.43760663 53.00564218 14.14583071 47.90625 8.80859375 C35.72414146 -2.5410707 22.79742639 -1.95656007 10 8 Z " fill="#000000" transform="translate(58,22)"/>
</svg>

                        </span>
                    </div>
                    <span class='xb-product-quantity xb-product-quantity--bottom-right'></span>
                </xb-wishlist-header>
                {% if miscellaneous_settings.search_style != 'disable' %}
                    {%- render 'search', search_settings: miscellaneous_settings -%}
                {% endif %}
                {% if miscellaneous_settings.news_style != 'disable' and section.id contains 'header' %}
                    {%- render 'news', news_settings: miscellaneous_settings -%}
                {% endif %}
                {% if miscellaneous_settings.account_style != 'disable' %}
                    {%- render 'account', account_settings: miscellaneous_settings -%}
                {% endif %}
                {% if miscellaneous_settings.cart_style != 'disable' and IsNoFooter and settings.disable_shopping_functionality == false %}
                    {%- render 'cart', cart_settings: miscellaneous_settings -%}
                {% endif %}
                {% unless section.id contains 'footer' %}
                    {% if miscellaneous_settings.show_burger_menu %}
                        {%- render 'burger-menu', burger-menu_settings: miscellaneous_settings, miscellaneous: true -%}
                    {% endif %}
                {% endunless %}
            </div>
        {% endif %}
    </div>
</div>